@import url(https://fonts.bunny.net/css?family=montserrat:500,700,900);
/* font-weight 500 = Fließtext/
/ font-weight 700 = Überschriften/
/ font-weight 900 = AppName*/

* {
  box-sizing: border-box;
}

:root {
  --text-color: #373b32;
  --btn-color: #606e51;
  --background-color: #5e6c50;
  --background-transparency-color: #606e51a2;
  --highlight-color: #bcff75;
  --btn-text-color: #ffffff;
  --main-font: sans-serif;
  --infobox-color: #ffff99;
  --visited-links: #add8e6;
  --hc-text-color: #fff;
  --hc-btn-color: #000;
  --hc-background-color: #000;
  --hc-highlight-color: #007bff;
}

.high-contrast-mode {
  --text-color: var(--hc-text-color);
  --btn-color: var(--hc-btn-color);
  --background-color: var(--hc-background-color);
  --highlight-color: var(--hc-highlight-color);
  --btn-text-color: white;

}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  padding: 0.5rem;
  color: var(--text-color);
}

.nav {
  display: flex;
  justify-content: space-between;
}

/*Buttons*/

.nav-btn {
  background-color: var(--background-color);
  padding: 0.7rem 0.7rem;
  border-radius: 0.5rem;
  border: none;
  height: 2.6rem;
  width: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-start {
  background-color: var(--background-color);
  padding: 0.7rem 0.7rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--btn-text-color);
  width: 100%;
}
/* Textfelder */

.app-name {
  font-size: 3.7rem;
  font-weight: 900;
  color: var(--highlight-color);
}

.page-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.subtitle {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.subheaders {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
  margin: 0;
}

.flowing-text {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}

.link {
  color: var(--highlight-color);
}
